# Для роботи скопіюйте .env.example у .env і відредагуйте значення під свою конфігурацію
DB_USER=root
DB_PASS=password
DB_HOST=localhost
DB_PORT=3306

DB_NAME=vps_db

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_INPUT_QUEUE=input.events
RABBITMQ_ERROR_QUEUE=sys_error.queue
RABBITMQ_VHOST=/
